<!DOCTYPE html>
<html lang="en-us">
    <head>
        {% include 'shared/_headerLinksAndScripts.haml' %}
    </head>

    <body>
        {{ content }}
        
        {% include 'shared/_footer.haml' %}

        {% include 'shared/_footerLinksAndScripts.haml' %}
    </body>
</html>
