<div class="jumbotron jumbotron-fluid text-white rounded bg-dark">
    <div class="container">
        <h1 class="display-3">{{ model.Name }}</h1>
        <p class="lead">{{ model.Snippet }}</p>
    </div>
</div>

<div class="container px-4">
    {{ model.Contents }}
</div>
