<div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card bg-dark mx-auto">
            <div class="card-body">
                <div class="form">
                    <div class="form-group">
                        <label for="UsernameInput">Username</label>
                        <input type="text" class="form-control" id="UsernameInput" />
                        <div class="invalid-feedback">Username is required</div>
                    </div>
                    <div class="form-group">
                        <label for="PasswordInput">Password</label>
                        <input type="password" class="form-control" id="PasswordInput" />
                        <div class="invalid-feedback">Password is required</div>
                    </div>
                    <button class="btn btn-secondary btn-outline btn-block text-console" id="LoginButton">Login</button>
                </div>
                <div class="text-center mt-3">
                    <a href="#" class="forgot-password-link text-console-secondary">Forgot Password?</a>
                </div>
            </div>
        </div>
        <div class="card bg-dark mx-auto mt-1">
            <div class="card-body text-center">
                <p class="mb-0">Don't have an account? <a href="#" id="RegisterLink" class="text-console-secondary">Register now</a></p>
            </div>
        </div>
    </div>
</div>